<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huanju.chajianhuatest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.huanju.chajianhuatest.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.huanju.chajianhuatest.MainActivity"
            android:theme="@style/demo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="wallet.modulea.ModuleA" >
            <intent-filter>
                <action android:name="wallet.modulea" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.huanju.chajiandemo.TestActivity" />
        <activity
            android:name="com.huanju.chajiandemo.TestActivityTwo"
            android:theme="@style/demo" />
        <activity android:name="com.huanju.chajiandemo.MainActivity" />
        <activity android:name="org.qiyi.qyscanqrcode.scan.ScanActivity" />
        <activity
            android:name="qiyi.demo1.MainAc"
            android:theme="@style/demo" />
        <activity android:name="qiyi.basemodule.BaseBundleActivity" />
    </application>

</manifest>